@font-face {
    font-family: Jost;
    src: url(jost/Jost-SemiItalic.woff2) format('woff2'), url(jost/Jost-SemiItalic.woff) format('woff');
    font-weight: 400;
    font-style: italic
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-Semi.woff2) format('woff2'), url(jost/Jost-Semi.woff) format('woff');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-Book.woff2) format('woff2'), url(jost/Jost-Book.woff) format('woff');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-LightItalic.woff2) format('woff2'), url(jost/Jost-LightItalic.woff) format('woff');
    font-weight: 300;
    font-style: italic
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-MediumItalic.woff2) format('woff2'), url(jost/Jost-MediumItalic.woff) format('woff');
    font-weight: 500;
    font-style: italic
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-BoldItalic.woff2) format('woff2'), url(jost/Jost-BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-Bold.woff2) format('woff2'), url(jost/Jost-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-BookItalic.woff2) format('woff2'), url(jost/Jost-BookItalic.woff) format('woff');
    font-weight: 400;
    font-style: italic
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-Light.woff2) format('woff2'), url(jost/Jost-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-Medium.woff2) format('woff2'), url(jost/Jost-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('hkgrotesk/HKGrotesk-Medium.woff2') format('woff2'),
        url('hkgrotesk/HKGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('hkgrotesk/HKGrotesk-Light.woff2') format('woff2'),
        url('hkgrotesk/HKGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('hkgrotesk/HKGrotesk-BoldItalic.woff2') format('woff2'),
        url('hkgrotesk/HKGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('hkgrotesk/HKGrotesk-Italic.woff2') format('woff2'),
        url('hkgrotesk/HKGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('hkgrotesk/HKGrotesk-Bold.woff2') format('woff2'),
        url('hkgrotesk/HKGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('hkgrotesk/HKGrotesk-Regular.woff2') format('woff2'),
        url('hkgrotesk/HKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('hkgrotesk/HKGrotesk-SemiBold.woff2') format('woff2'),
        url('hkgrotesk/HKGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('hkgrotesk/HKGrotesk-SemiBoldItalic.woff2') format('woff2'),
        url('hkgrotesk/HKGrotesk-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('hkgrotesk/HKGrotesk-MediumItalic.woff2') format('woff2'),
        url('hkgrotesk/HKGrotesk-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('hkgrotesk/HKGrotesk-LightItalic.woff2') format('woff2'),
        url('hkgrotesk/HKGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Museo Slab';
    src: url('museo/Museo300-Regular-webfont.woff2') format('woff2'),
         url('museo/Museo300-Regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Slab';
    src: url('museo/Museo500-Regular-webfont.woff2') format('woff2'),
         url('museo/Museo500-Regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Slab';
    src: url('museo/Museo700-Regular-webfont.woff2') format('woff2'),
         url('museo/Museo700-Regular-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
  font-family: 'Jam';
  src:  url('jam/Jam.eot?j7o824');
  src:  url('jam/Jam.eot?j7o824#iefix') format('embedded-opentype'),
    url('jam/Jam.ttf?j7o824') format('truetype'),
    url('jam/Jam.woff?j7o824') format('woff'),
    url('jam/Jam.svg?j7o824#Jam') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { 
  font-family: 'IcoFont';
  src:  url('iconfont/icofont.eot');
  src:  url('iconfont/icofont.eot') format('embedded-opentype'),
    url('iconfont/icofont.ttf') format('truetype'),
    url('iconfont/icofont.woff') format('woff'),
    url('iconfont/icofont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Snowlake';
    src: url('snowlake/Snowlake.eot');
    src: url('snowlake/Snowlake.eot?#iefix') format('embedded-opentype'),
         url('snowlake/Snowlake.woff') format('woff'),
         url('snowlake/Snowlake.ttf') format('truetype'),
         url('snowlake/Snowlake.svg#Snowlake') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'custom';
  src:  url('custom/custom.eot?gfza0');
  src:  url('custom/custom.eot?gfza0#iefix') format('embedded-opentype'),
    url('custom/custom.ttf?gfza0') format('truetype'),
    url('custom/custom.woff?gfza0') format('woff'),
    url('custom/custom.svg?gfza0#custom') format('svg');
  font-weight: normal;
  font-style: normal;
}
